# This is a very common operation

## Let's start with converting to a float

In [1]:
string_int = "33"
string_float = "7.333"
string_string = "not a number"


print(float(string_int))

33.0

In [2]:
print(float(string_float))

7.333

In [3]:
print(float(string_string))

ValueError: could not convert string to float: 'not a number'

### How to play it safe

In [4]:
try:
    age = float(string_string)
except ValueError:
    age = None
    
print(age)

None

## Now let's tackle int

It can't parse a float directly

In [5]:
print(int(string_float))

ValueError: invalid literal for int() with base 10: '7.333'

In [6]:
print(int(float(string_float)))

7

### how to play it safe

In [8]:
try:
    age = int(float(string_float))
except ValueError:
    age = None
    
print(age)

7