# DataFrames have a drop method

In [1]:
# iris is a pandas Dataframe

import seaborn as sns

iris = sns.load_dataset('iris')
print(type(iris))
iris.head()

<class 'pandas.core.frame.DataFrame'>

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
new_iris = iris.drop('sepal_length', axis=1)

new_iris.head()

   sepal_width  petal_length  petal_width species
0          3.5           1.4          0.2  setosa
1          3.0           1.4          0.2  setosa
2          3.2           1.3          0.2  setosa
3          3.1           1.5          0.2  setosa
4          3.6           1.4          0.2  setosa

# Axis is a little hard to keep straight

In [4]:
new_iris.drop(columns=['sepal_width'], inplace=True)

new_iris.head()

   petal_length  petal_width species
0           1.4          0.2  setosa
1           1.4          0.2  setosa
2           1.3          0.2  setosa
3           1.5          0.2  setosa
4           1.4          0.2  setosa

# Can also use pop if you need to do something with the column

In [5]:
petal_lengths = new_iris.pop('petal_length')


print(petal_lengths.head())

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal_length, dtype: float64

In [7]:
print(new_iris.head())

   petal_width species
0          0.2  setosa
1          0.2  setosa
2          0.2  setosa
3          0.2  setosa
4          0.2  setosa