In [3]:
import seaborn as sns

df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df2 = df.drop(
    columns=['sepal_width']
)

df2.head()

   sepal_length  petal_length  petal_width species
0           5.1           1.4          0.2  setosa
1           4.9           1.4          0.2  setosa
2           4.7           1.3          0.2  setosa
3           4.6           1.5          0.2  setosa
4           5.0           1.4          0.2  setosa

In [5]:
s1 = df2.pop('petal_length')
print(df2.head())

   sepal_length  petal_width species
0           5.1          0.2  setosa
1           4.9          0.2  setosa
2           4.7          0.2  setosa
3           4.6          0.2  setosa
4           5.0          0.2  setosa