# Use astype( type ) To Convert Fields

In [46]:
import pandas as pd

table = [
    [ "ab",  '1.2',  '4.2' ],
    [ "bd",  '70',   '0.03'],
    [ "dc",  '5',    '0'   ]
]

df = pd.DataFrame(table, columns=["name", "height", "width"])

print(df)

  name height width
0   ab    1.2   4.2
1   bd     70  0.03
2   dc      5     0

In [47]:
print(df.dtypes)

name      object
height    object
width     object
dtype: object

In [48]:
df['height'] = df['height'].astype(float)
df['width'] = df['width'].astype(float)
print(df.dtypes)

name       object
height    float64
width     float64
dtype: object

# Strings have a variable length so the are always objects

In [43]:
df['name'] = df['name'].astype(str)

print(df.dtypes)

name       object
height    float64
width     float64
dtype: object

In [44]:
print(df['name'])

0    ab
1    bd
2    dc
Name: name, dtype: object