In [3]:
import seaborn as sb
import pandas as pd

df = sb.load_dataset('titanic')

# using and or will produce
# Truth value of a Series 
# is ambiguous
df1 = df[ (df['age'] < 18) |
          (df['age'] > 65)
        ]

print(len(df), len(df1))

891 121

In [4]:
df2 = df[ (df['age'] < 18) &
          (df['sex'] == 'female')
        ]

print(len(df2))

55