In [3]:
import seaborn as sb
import pandas as pd

df = sb.load_dataset('titanic')

l1 = df['age'].values
l2 = df.iloc[5].values

print(l1[:5])
print(l2)

[22. 38. 26. 35. 35.]
[0 3 'male' nan 0 0 8.4583 'Q' 'Third' 'man' True nan 'Queenstown' 'no'
 True]