In [9]:
import seaborn as sb
import pandas as pd

df = sb.load_dataset('titanic')
c = ['age', 'sex','fare']
avg = df[c].groupby('sex').mean()

print(avg)

              age       fare
sex
female  27.915709  44.479818
male    30.726645  25.523893