In [4]:
import seaborn as sb
import pandas as pd
import numpy as np
df = sb.load_dataset('titanic')

c = ['age', 'sex','fare']
s = ['size', 'mean', 'std']
st = df[c].groupby('sex').agg(s)
print(st)

        age                       fare
       size       mean        std size       mean        std
sex
female  314  27.915709  14.110146  314  44.479818  57.997698
male    577  30.726645  14.678201  577  25.523893  43.138263