In [1]:
import seaborn as sb
df = sb.load_dataset('titanic')

df1 = df.isna().sum()
print(df1)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64