In [11]:
a = [0] * 10

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [21]:
x = range(1, 51)


print(x[-1])

50

In [24]:
range(1,2)[-1]

1

In [45]:
import itertools

list_ = ['ty','abc']
results = []
for item in list_:
    pairs = [x for x in zip(item.lower(), item.upper())]
    print(pairs)
    item = 'ty'         
    lists =list(itertools.product(*pairs))
    print(lists)
    results.extend(["".join(comb) for comb in lists])

[('t', 'T'), ('y', 'Y')]
[('t', 'y'), ('t', 'Y'), ('T', 'y'), ('T', 'Y')]
[('a', 'A'), ('b', 'B'), ('c', 'C')]
[('a', 'b', 'c'), ('a', 'b', 'C'), ('a', 'B', 'c'), ('a', 'B', 'C'), ('A', 'b', 'c'), ('A', 'b', 'C'), ('A', 'B', 'c'), ('A', 'B', 'C')]

In [46]:
print(results)

['ty', 'tY', 'Ty', 'TY', 'abc', 'abC', 'aBc', 'aBC', 'Abc', 'AbC', 'ABc', 'ABC']

[('t', 'T'), ('y', 'Y')]

In [53]:
from itertools import product

l = [1, 2, 10]
result = list(product(*[range(x+1) for x in l]))
print(result)

[(0, 0, 0), (0, 0, 1), (0, 0, 2), (0, 0, 3), (0, 0, 4), (0, 0, 5), (0, 0, 6), (0, 0, 7), (0, 0, 8), (0, 0, 9), (0, 0, 10), (0, 1, 0), (0, 1, 1), (0, 1, 2), (0, 1, 3), (0, 1, 4), (0, 1, 5), (0, 1, 6), (0, 1, 7), (0, 1, 8), (0, 1, 9), (0, 1, 10), (0, 2, 0), (0, 2, 1), (0, 2, 2), (0, 2, 3), (0, 2, 4), (0, 2, 5), (0, 2, 6), (0, 2, 7), (0, 2, 8), (0, 2, 9), (0, 2, 10), (1, 0, 0), (1, 0, 1), (1, 0, 2), (1, 0, 3), (1, 0, 4), (1, 0, 5), (1, 0, 6), (1, 0, 7), (1, 0, 8), (1, 0, 9), (1, 0, 10), (1, 1, 0), (1, 1, 1), (1, 1, 2), (1, 1, 3), (1, 1, 4), (1, 1, 5), (1, 1, 6), (1, 1, 7), (1, 1, 8), (1, 1, 9), (1, 1, 10), (1, 2, 0), (1, 2, 1), (1, 2, 2), (1, 2, 3), (1, 2, 4), (1, 2, 5), (1, 2, 6), (1, 2, 7), (1, 2, 8), (1, 2, 9), (1, 2, 10)]

In [54]:
[range(x+1) for x in l]

[range(0, 2), range(0, 3), range(0, 11)]

In [56]:
product(*[range(x+1) for x in l])

In [57]:
l1 = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [58]:
print(len(l1))

58

In [67]:
list1 = [1, 2, 3]

list2 = ["a", "b", "c"]

comb = zip(list1, list2)

#print(list(comb))
#comb -> [(1, 'a'), (2, 'b'), (3, 'c')]

for num, let in list(comb):
    print(num, let)

a = [num for num, let in comb]
print(a)
#a -> [1, 2, 3]

print(list(comb))

1 a
2 b
3 c
[]
[]

In [68]:
def tax(bill):
    T = 0.5
    bill *= T
    return bill

Total = tax(500)

print (Total)

250.0

In [77]:
def nb_couples_intervalle(n: int, p: int) -> int:
   ''''''
   i: int = n
   j: int = p
   couple: int = 0

   while i < p:
      i = i + 1
      couple = couple + 1
      while j > n:
         j = j - 1
         if i < j:
            couple = couple + 1
   return couple

In [78]:
print(nb_couples_intervalle(2, 7))

8

In [80]:
def firstlast(*args):
    list = [*args]
    if list[0] == list[-1]:
       return True
    else:
       return False
        
print(firstlast(20,30,20))

True

In [82]:
import pandas as pd

df_1 = pd.DataFrame(
    [['Arjun', 70, 86],
     ['Kiku', 80, 76],
	 ['Mama', 99, 99],
     ['Lini', 79, 92]],
    index = [2, 1, 6, 5],
    columns=['name', 'aptitude', 'cooking'])

print(df_1)

#sort dataframe by index in ascending order
df_1 = df_1.sort_index(ascending=True)

print('\nDataFrame after sorting by index\n')
print(df_1)

    name  aptitude  cooking
2  Arjun        70       86
1   Kiku        80       76
6   Mama        99       99
5   Lini        79       92

DataFrame after sorting by index

    name  aptitude  cooking
1   Kiku        80       76
2  Arjun        70       86
5   Lini        79       92
6   Mama        99       99